In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [37]:
df = pd.read_csv('cleaned_data.csv')

In [38]:
df.head(3)

   life_expectancy  alcohol  hepatitis_b  measles  polio  diphtheria  hiv/aids
0             65.0     0.01         65.0     1154    6.0        65.0       0.1
1             59.9     0.01         62.0      492   58.0        62.0       0.1
2             59.9     0.01         64.0      430   62.0        64.0       0.1

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   life_expectancy  2938 non-null   float64
 1   alcohol          2938 non-null   float64
 2   hepatitis_b      2938 non-null   float64
 3   measles          2938 non-null   int64
 4   polio            2938 non-null   float64
 5   diphtheria       2938 non-null   float64
 6   hiv/aids         2938 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 160.8 KB

In [40]:
X = df.drop(['life_expectancy'],axis=1)

y = df['life_expectancy']

In [41]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,test_size=0.3)

In [42]:
X_train.shape,X_test.shape

((2056, 6), (882, 6))

In [43]:
X_train

      alcohol  hepatitis_b  measles  polio  diphtheria  hiv/aids
1641     7.14         86.0        1   72.0        72.0       0.1
618      2.03         92.0      146   62.0        62.0       5.9
406      4.55         92.0    54118   91.0        92.0       1.1
1094     3.57         86.0        0   85.0        86.0       5.7
1788     0.26         85.0     1088   84.0        86.0       0.6
...       ...          ...      ...    ...         ...       ...
1638     6.91         82.0        3   96.0        96.0       0.1
1095     3.21         83.0       26   82.0        83.0       5.9
1130     6.08         92.0        0   62.0        63.0       2.7
1294     9.30         95.0    10982   97.0        96.0       0.1
860      1.07         96.0       19   96.0        96.0       1.6

[2056 rows x 6 columns]

In [44]:
y_train

1641    80.0
618     55.3
406     56.9
1094    57.1
1788    64.5
        ...
1638    87.0
1095    56.7
1130    61.8
1294    79.9
860     59.4
Name: life_expectancy, Length: 2056, dtype: float64

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from catboost import CatBoostRegressor

from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [46]:
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    R2_score = r2_score(true,predicted)
    return mae,mse,R2_score

In [48]:
models = {
    'Linear Regression':LinearRegression(),
    'Decision Tree':DecisionTreeRegressor(),
    'Random Forest':RandomForestRegressor(),
    'CatBoost Regressor':CatBoostRegressor(verbose=False),
}

model_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)

    #Make predictions
    y_pred = model.predict(X_test)

    # Evaluate train and test dataset

    model_mae, model_mse, model_r2 = evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    
    print('--- Model performance ---')
    print("- Mean Squared Error: {:.3f}".format(model_mse))
    print("- Mean Absolute Error: {:.3f}".format(model_mae))
    print("- R2 Score: {:.4f}".format(model_r2))
    
    print('\n')

Linear Regression
--- Model performance ---
- Mean Squared Error: 39.393
- Mean Absolute Error: 4.935
- R2 Score: 0.5787


Decision Tree
--- Model performance ---
- Mean Squared Error: 23.005
- Mean Absolute Error: 3.188
- R2 Score: 0.7540


Random Forest
--- Model performance ---
- Mean Squared Error: 12.891
- Mean Absolute Error: 2.550
- R2 Score: 0.8621


CatBoost Regressor
--- Model performance ---
- Mean Squared Error: 13.564
- Mean Absolute Error: 2.730
- R2 Score: 0.8549